.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .nav-bar {
    background-color: #333;
    padding: 0;
    display: flex; /* use flexbox instead of floats */
    justify-content: center; /* center the menu items */
  }
  
  .nav-bar ul {
    list-style-type: none;
    display: flex; /* this will make the li's align horizontally */
    padding: 0;
    margin: 0;
  }
  
  .nav-bar li {
    position: relative;
  }
  
  .nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .nav-bar li a:hover {
    background-color: #555;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    background-color: #56bfcc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .nav-bar li:hover .dropdown {
    display: block;
  }
  
  .dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown a:hover {
    background-color: #f1f1f1;
  }
  